<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a class="logo" href="#/">
				<svg class="logo__img">
					<use href="img/sprite.svg#logo"></use>
				</svg>
			</a>
			<button class="burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="nav">
				<ul class="nav__menu menu list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" href="#">Вкладка</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#">Вкладка</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#">Вкладка</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#">Вкладка</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
