.tabs {
  display: flex;
  max-width: 400px;
  margin-bottom: 40px;

  &__panel {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    &-item {
      margin-bottom: 20px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-item {
      color: black;
    }
  }
}

.hidden {
  display: none;
}

.active {
  color: red;
}
