<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a class="logo" href="#/">
				<svg class="logo__img">
					<use href="img/sprite.svg#logo"></use>
				</svg>
			</a>
			<button class="burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="nav">
				<ul class="nav__menu menu list-reset">
					<li class="menu__item">
						<div class="menu__inner-link">
							<a class="menu__link link-reset" href="#">Вкладка</a>
							<span class="menu__arrow"></span>
						</div>
						<ul class="menu__sub-list list-reset">
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">1 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">2 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">3 меню</a>
							</li>
						</ul>
					</li>
					<li class="menu__item">
						<div class="menu__inner-link">
							<a class="menu__link link-reset" href="#">Вкладка</a>
							<span class="menu__arrow"></span>
						</div>
						<ul class="menu__sub-list list-reset">
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">1 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">2 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">3 меню</a>
							</li>
						</ul>
					</li>
					<li class="menu__item">
						<div class="menu__inner-link">
							<a class="menu__link link-reset" href="#">Вкладка</a>
							<span class="menu__arrow"></span>
						</div>
						<ul class="menu__sub-list list-reset">
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">1 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">2 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">3 меню</a>
							</li>
						</ul>
					</li>
					<li class="menu__item">
						<div class="menu__inner-link">
							<a class="menu__link link-reset" href="#">Вкладка</a>
							<span class="menu__arrow"></span>
						</div>
						<ul class="menu__sub-list list-reset">
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">1 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">2 меню</a>
							</li>
							<li class="menu__sub-item">
								<a class="menu__sub-link link-reset" href="#/">3 меню</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
